@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer components {
    ::-webkit-scrollbar {
        /* Customize the scrollbar width */
        @apply flex touch-none select-none transition-colors w-full h-2.5 border-l border-l-transparent;
    }

    ::-webkit-scrollbar-track {
        /* Customize the scrollbar track */
        @apply px-2 h-3;
    }

    ::-webkit-scrollbar-thumb {
        /* Customize the scrollbar thumb */
        @apply relative flex-1 rounded-full bg-red-500;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
